.postList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    grid-auto-rows: auto;
    gap: 3rem;
}

.postCard {
    position: relative;
    width: 100%;
    background-color: var(--secondary-light);
}

.postCardImage {
    position: relative;
    display: block;
    width: 100%;
    height: 300px;
}

.postCardImage img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.postCardInfo {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-family: var(--font-open-sans);
}

.postCardInfo p {
    font-size: 1rem;
}

.postCardInfo h3 {
    font-family: var(--font-open-sans);
    font-size: 1.5rem;
    font-weight: normal;
}
